* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #eee;
}

.container {
  background-color: #fff;
  width: 385px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #225423;
  border-radius: 8px;
  box-shadow: 2px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

.container h2 {
  margin: 1rem 0;
}

form {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

input,
button {
  height: 50px;
  width: 280px;
  margin-bottom: 10px;
  padding: 10px 5px;
  border-radius: 8px;
}
